<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HLZDGL.Properties.Settings.MESConnectionString" connectionString="Data Source=172.16.39.7;Initial Catalog=MES;Persist Security Info=True;User ID=sa;Password=sa@123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="OraOLEDB" value="Provider=OraOLEDB.Oracle.1;Data Source=mis08;User ID=erp;Password=erp;Unicode=True"/>
    <add key="SqlODBC" value="Initial Catalog=mes;Server=172.16.39.7;User ID=sa;Password=sa@123456"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
